@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>
                <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im Matt Morden.", "Full Stack C# .NET Developer." ]'>
                    <span class="wrap"></span>
                </a>
            </h1>
        </div>
        <div class="col-xs-12 text-center">
            <img src="~/images/mordenheadshot.png" class="ui-img-rounded"/>
        </div>
    </div>
</div>


<script src="~/js/typewriter.js"></script>
